section{
    width:1400px;
    height:600px;
    background-color: rgb(10, 88, 235);
}
article{
    width:100px;
    height: 100px;
    margin :2px;
    background-color: rgb(121, 168, 224);
    float:left
}
#photo{
   background-image: url("../imgs/joker.jpg");
   width:200px;
   height:200px;
}